@charset "utf-8";
html,body,header,section,footer,h1,h2,h3,h4,h5,h6,p,span,img,ul,ol,li,div,a,button{
    margin:0;
    padding:0;

}

h1,h2,h3,h4,h5,h6,b,strong
{
    font-weight:400;
    font-size:14px;
}

a
{
    text-decoration: none;
    color:#000;
}

address,i
{
    font-style:normal;
}
ul,ol,li
{
    list-style:none;
}


img
{
    width:100%;
    vertical-align: top;
}

.clearfix::after{
    display:block;
    content:'';
    clear:both;
  }